venv
*.pyc
*.o
*.so
*.dylib
*.dll
*.exe
*.out
*.a
*.lib
*.exp
*.ilk
*.pdb
*.obj
*.sbr
*.ncb
*.suo
*.tlog
*.ipch
*.swp
*.sdf
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vcxproj.*.user
*.pyc
*.pyo
*.pyd
*.pyw
*.egg-info
*.egg
*.cache
*.log
*.DS_Store
*.idea
*.vscode
